.dragButton {
  width: 200px;
  margin-left: 40px;
  margin-top: 10px;
}

.dragButtonV2 {
  width: 30px;
  height: 30px;
  font-size: 10px;
}

#choice_menu {
  background-color: brown;
}

.grid-container {
  grid-template-columns: 50px 50px 50px;
  //padding: 10px;
  width: 100%;
  //height: 100%;
}

.grid-item {
  height: 50px;
  width: 50px;
  margin: 40px;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.dropdown button:hover {background-color: #954e51;}

.active {
  background-color: black;
}

#dropdown {
  list-style: none;
  padding-left: 0;
}

#dropdown > li {
  list-style: none;
  margin-top: 1px;
  width: 150px;
}

#new_products_button{
  display: none;
  margin-bottom: 10px;
}


